{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Painel Administrador</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
</head>
<body>
  <h1>Painel do Administrador</h1>
  <p>Bem-vindo, {{ request.user.get_full_name|default:request.user.email }}!</p>
  <p>Seu CPF: {{ request.user.administrador.cpf }}</p>
  <p><a href="/admin/">Acessar Django Admin</a></p>
</body>
</html>
